* {
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #1a1b26;
  color: #c0caf5;
  /*border-bottom: 2px solid #24283b;*/
  border-bottom: none;
}

/* Workspaces */
#workspaces button {
  padding: 0 8px;
  color: #565f89;
  background: transparent;
}

#workspaces button.focused {
  color: #1a1b26;
  background: #7aa2f7;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #1a1b26;
  background: #f7768e;
  font-weight: bold;
}

/* Mode Sway */
#mode {
  padding: 0 10px;
  color: #1a1b26;
  background: #e0af68;
  font-weight: bold;
}

/* Fenêtre active */
#window {
  color: #c0caf5;
  font-weight: 500;
}

/* Horloge */
#clock {
  padding: 0 12px;
  color: #1a1b26;
  background: #7aa2f7;
  font-weight: bold;
}

/* PulseAudio */
#pulseaudio {
  padding: 0 10px;
  color: #1a1b26;
  background: #bb9af7;
  font-weight: bold;
}

#pulseaudio.muted {
  color: #1a1b26;
  background: #f7768e;
}

/* Network */
#network {
  padding: 0 10px;
  color: #1a1b26;
  background: #7dcfff;
  font-weight: bold;
}

#network.disconnected {
  color: #1a1b26;
  background: #f7768e;
}

/* CPU */
#cpu {
  padding: 0 10px;
  color: #1a1b26;
  background: #e0af68;
  font-weight: bold;
}

/* Memory */
#memory {
  padding: 0 10px;
  color: #1a1b26;
  background: #ff9e64;
  font-weight: bold;
}

/* Battery */
#battery {
  padding: 0 10px;
  color: #1a1b26;
  background: #9ece6a;
  font-weight: bold;
}

#battery.charging {
  color: #1a1b26;
  background: #9ece6a;
}

#battery.warning:not(.charging) {
  color: #1a1b26;
  background: #e0af68;
}

#battery.critical:not(.charging) {
  color: #1a1b26;
  background: #f7768e;
}
