* {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 14px;
    border: none;
    outline: none;
}

#window {
    background-color: #282828;
    color: #ebdbb2;
    border: 2px solid #d65d0e;
    margin: 0px;
}

#outer-box {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#inner-box {
    margin: 0px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    padding-left: 5px;
    border: none;
    color: #ebdbb2;
}

#entry:selected {
    background-color: transparent;
    color: #d79921; 
    font-weight: bold;
}
