* {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 14px;
    border: none;
    outline: none;
}

#window {
    background-color: #1a1b26;
    color: #c0caf5;
    border: 2px solid #7aa2f7;
    margin: 0px;
}

#outer-box {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#inner-box {
    margin: 0px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    padding-left: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
    background-color: transparent;
    color: #7aa2f7;
    font-weight: bold;
}
